.main{
	margin-left: 30%;

margin-top: 5%;

color: blue;

background: red;

width: 30%;

padding: 20px;

height: 100px;

position: relative;
}
.sub{
	position: absolute;

background: blue;

color: black;

left: 25%;
}
.parent {
	width: 100%;
    display: block;
    text-align: center;
}
.blocks{
	display: inline-block;

width: 45%;

height: 100px;

background: blue;

margin: 15px;
}
.footer1{
	width: 100%;
	height: 70px;
	background: orange;
}
.footer2{
	width: 100%;
    background: blue;
    height: 70px;
}

